name: Apply NixOS Configuration to OVH host

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Apply configuration on remote server
        env:
          SSH_PORT: ${{ secrets.SSH_PORT }}
          SSH_PRIVATE_KEY_BASE64: ${{ secrets.SSH_PRIVATE_KEY_BASE64 }}
        run: |
          echo "$SSH_PRIVATE_KEY_BASE64" | base64 --decode > ./private_key || echo "Failed to decode private key"
          ls -l ./private_key || echo "Private key file not found"
          chmod 600 ./private_key
          which scp || echo "scp command not found"
          which ssh || echo "ssh command not found"
          zip -r result.zip ./ || echo "Zip failed"
          ssh -o StrictHostKeyChecking=no -i ./private_key github@ovh.mahn.ke -p $SSH_PORT "mkdir -p /tmp/nixos-config-$GITHUB_RUN_ID" || echo "SSH mkdir command failed"
          scp -P $SSH_PORT -o StrictHostKeyChecking=no -i ./private_key result.zip github@ovh.mahn.ke:/tmp/nixos-config-$GITHUB_RUN_ID/ || echo "SCP failed"
          ssh -o StrictHostKeyChecking=no -i ./private_key github@ovh.mahn.ke -p $SSH_PORT "unzip -o /tmp/nixos-config-$GITHUB_RUN_ID/result.zip -d /tmp/nixos-config-$GITHUB_RUN_ID && sudo nixos-rebuild switch -I nixos-config=/tmp/nixos-config-$GITHUB_RUN_ID/result" || echo "SSH command failed"