name: Apply NixOS Configuration to OVH host

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Nix
        run: |
          curl -L https://nixos.org/nix/install | sh
          . /home/runner/.nix-profile/etc/profile.d/nix.sh

      - name: Build NixOS configuration
        run: |
          . /home/runner/.nix-profile/etc/profile.d/nix.sh
          nix-build '<nixpkgs/nixos>' -A config.system.build.toplevel -I nixos-config=./configuration.nix
          ls -la ./result

      - name: Apply configuration on remote server
        env:
          SSH_PORT: ${{ secrets.SSH_PORT }}
          SSH_PRIVATE_KEY_BASE64: ${{ secrets.SSH_PRIVATE_KEY_BASE64 }}
        run: |
          echo "$SSH_PRIVATE_KEY_BASE64" | base64 --decode > ./private_key
          chmod 600 ./private_key
          scp -o StrictHostKeyChecking=no -i ./private_key -r ./result github@ovh.mahn.ke:/tmp/nixos-config -P $SSH_PORT
          ssh -o StrictHostKeyChecking=no -i ./private_key github@ovh.mahn.ke -p $SSH_PORT "sudo nixos-rebuild switch -I nixos-config=/tmp/nixos-config"
